<% include ../partials/header %>

<div class = container>

        <header class="jumbotron">
            <div class="container">
                <h1>View Our Campgrounds</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut sequi nesciunt praesentium laboriosam</p>
                <p>
                    <a href="/campgrounds/new" class="btn btn-primary">Create A New Campground</a>
                </p>                
            </div>
        </header>
        <div class= "row text-center" style="display:flex;flex-wrap:wrap;">
            <% campgrounds.forEach(function(camp){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src = "<%= camp.image %>">
                        <div class="caption">
                            <h4><%= camp.name %></h4>
                        </div>
                        <div>
                            <% var link = "/campgrounds/"+ camp._id %>
                            <a href="<%=link%>" class="btn btn-primary">More Info</a>
                        </div>
                    </div>
                    
                </div>
            <% }); %>  
        </div>
</div>


<% include ../partials/footer %>